/*Basics */
* {
  box-sizing: border-box;
  color: #fffff0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  scroll-behavior: smooth;
  line-height: 1.5em;
}

body {
  background-color: #121212;
  margin: 10em 2.5em 2.5em 2.5em;
}
#wrapper {
  background-color: #121212;
  margin: auto;
}

header {
  border-bottom: solid 0.05em #c1e1c1;
  border-radius: 0;
  position: fixed; /* keeps the header at the top */
  padding-top: 0.5em;
  padding-bottom: 2.5em;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #121212;
  width: 100%;
  height: 10em;
}

h1 {
  margin-top: 0.5em;
}
h2 {
  text-transform: uppercase;
  font-weight: 525;
}

h3 {
  text-transform: uppercase;
}

p {
  margin: 0.25em;
}

.centre-t {
  text-align: center;
  list-style: none;
}
h2 {
  padding-top: 0.5em;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  color: salmon;
}

code {
  color: red;
  word-wrap: break-word;
}

img {
  max-width: 75%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 0.7em;
}

img:hover {
  box-shadow: 0.15em 0.15em 1em rgba(193, 225, 193, 0.4);
  transform: scale(1.02);
  transition: all 0.3s ease;
  overflow: hidden;
}

nav li {
  text-align: center;
  display: inline;
  margin: 0.4em;
}
ul {
  margin: 0.4em;
  padding: 0;
  list-style: none;
}

.two-columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
/* 
li {
  margin-left: 0.75em;
  padding: 0.25em;
} */
ol.translation {
  margin-left: -1em;
  z-index: 0;
}
nav {
  text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #c1e1c1;
  font-weight: 565;
  transition: all 0.3s ease;
}

a:hover {
  color: #fffff0;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

/*
Radio button
 https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
 help from w3 schools
*/

.switcharoo {
  display: inline-flex;
}

.switch {
  position: fixed;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  top: 8em;
  right: 0.5em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sun {
  position: absolute;
  cursor: pointer;
}

.sun::before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Sun_of_York.svg/1200px-Sun_of_York.svg.png");
  background-attachment: inherit;
  background-size: contain;
}

input:checked + .sun::before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Darkmode_moon_shining_stars.svg/900px-Darkmode_moon_shining_stars.svg.png?20220205043149");
  background-attachment: inherit;
  background-size: contain;
}

/*
Radio Button End
*/

.shift {
  display: block;
}

.inline-d {
  color: #fac898;
  line-height: 1.75em;
}
.inline-d:active,
.inline-d:hover {
  color: #a7c7e7;
  cursor: pointer;
}

/* Modal Content */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 11;
  padding-top: 30vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #121212;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 75%;

  /* use of -webkit ensures compatibility when using chrome and safari*/
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.25s;
  animation-name: animatetop;
  animation-duration: 0.25s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #121212;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0.1em;
  background-color: #ff6961;
}
.modal-header > h3 {
  color: #121212;
}

.modal-body {
  padding: 0.25em;
}

/*Modal End*/

.definition {
  display: none;
  overflow: hidden;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

.cards {
  width: 95%;
  height: 25em;
  border: solid #c1e1c1 0.05em;
  margin-bottom: 2em;
  box-shadow: 0.1em 0.1em 1em rgba(193, 225, 193, 0.3);
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 0.7em;
}

.cards:hover {
  /* transform: scale(1.01); */
  box-shadow: 0.1em, 0.1em 1em rgba(193, 225, 193, 0.5);
  /* cursor: pointer; */
}

@media screen and (min-width: 31em) and (max-width: 59em) {
  .cards {
    flex: 1 0 40%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 30em;
  }

  header {
    padding-bottom: 0.5em;
  }
}

@media screen and (min-width: 60em) and (max-width: 99em) {
  .cards {
    flex: 1 0 30%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 30em;
  }
  .usa {
    max-width: 33%;
  }
  .flex-container {
    width: 90%;
    margin-left: 6.25%;
    display: flex;
    flex-direction: row;
  }
  .left,
  .right {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (min-width: 100em) {
  .cards {
    flex: 1 0 30%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 40em;
  }
}

/**/

/*
Dark Mode Styling
*/
.lightMode-bcw {
  background-color: #fff5d7 !important;
  border-bottom: solid 0.05em #734f96;
}
.lightMode-headMain {
  color: #bb605c;
}

.lightMode-txt,
.lightMode-txt li {
  color: #121212;
}

.lightMode-modalContent {
  background-color: #fff5d7;
}

.lightMode-emph {
  color: #a483c2;
}

.lightMode-innyD {
  color: #053767;
}
.inline-d:hover.lightMode-innyD {
  color: salmon;
}

.lightMode-card {
  border: solid #734f96 0.05em;
  box-shadow: 0.1em 0.1em 0.75em rgba(115, 79, 150, 0.3);
}

img:hover.darkMode-img {
  box-shadow: 0.15em 0.15em 1em rgba(115, 79, 150, 0.4);
}

.lightMode-modalHeader {
  background-color: #bb605c;
}
.lightMode-code {
  color: blue;
}

.lightMode-mTitle {
  color: #fff5d7;
}
a:link.lightMode-anch,
a:visited.lightMode-anch,
a:hover.lightMode-anch,
a:active.lightMode-anch {
  text-decoration: none;
  color: #734f96 !important;
  font-weight: bold;
  transition: all 0.3s ease;
}

a:hover.lightMode-anch {
  color: #e7b2a4 !important;
}
/*
  Dark Mode Styling End
  */

.emd-list > li {
  -webkit-animation-name: animat;
  -webkit-animation-duration: 0.25s;
  animation-name: animatetop;
  animation-duration: 0.25s;
}

footer {
  text-align: center;
  margin-top: 3em;
  border-top: solid 0.1em #a7c7e7;
}
